html {
    height: 100vh;
    background: rgb(219,97,31);
    background: linear-gradient(0deg, rgba(219,97,31,1) 16%, rgba(34,195,180,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #22222255;
    border-radius: 16px;
    padding: 16px;
}

img {
    width: min(400px, 80vw);
}

button {
    padding: 8px;
    background: none;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff
}

footer {
    margin-top: auto;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    width: fit-content;
    align-self: center;
}

.links img {
    width: 50px
}